page-class-shedule {
  .toolbar.toolbar-md,
  .toolbar.toolbar-ios {
    color: white !important;

    background: transparent;
    .toolbar-title.toolbar-title-md,
    .toolbar-title.toolbar-title-ios {
      color: white !important;
    }

    ion-icon.back-button-icon.icon {
      color: white !important;
    }

    .toolbar-background.toolbar-background-md,
    .toolbar-background.toolbar-background-ios {
      background: transparent;
      color: white !important;

      .back-button.bar-button {
        color: white !important;

        &.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button,
        &.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
          color: white !important;
        }
      }
    }
  }

  ion-navbar {
    background: linear-gradient(to right, #0ca3ad, #03c3d8) !important;
    padding-bottom: 13em !important;

    border-radius: 0 0 40% 40%;

    color: white;

    .toolbar-background.toolbar-background-ios,
    .toolbar-background.toolbar-background-ios {
      background: linear-gradient(to right, #0ca3ad, #03c3d8) !important;
      padding-bottom: 5em !important;
    }
  }

  ion-content {
    padding-top: 0em;
    margin-top: 0em;
  }

  .schedules {
    padding: 0;
    margin: 0;
    margin-top: -10em;
      display: relative;


    ion-row {
      padding: 0;
      margin: 0;
    }
    ion-col {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-flow: column nowrap;

      text-align: center;

      padding: 0;
      margin: 0;

      ion-card {
        padding: 7em 0;
        // padding-top: 0;
      }

      button {
        position: absolute;
        top: .5em;
        left: 1.5em;
        margin: 0 auto;
        // width: 100%;
        font-size: 1.5em;
        background: transparent;
        padding: 0 !important;
        margin: 0 !important;

        ion-icon {
          padding: 0;
          margin: 0 auto;
        }
      }

      h6 {
        font-size: 2em;
      }
    }
  }

  // .sessions {
  //   ion-col {
  //     padding: 0;
  //     margin: 0;
  //   }
  //   ion-card {
  //     ion-card-title {
  //       margin: 0;
  //       padding: 0.125em 0.5em;
  //       font-size: 0.8em;
  //     }
  //   }
  // }

  .workout {
    background: #03a5c4;
    color: white !important;
    font-size: 75%;
    padding: 0.8em;
    margin: 0.3em;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.7) !important;
    font-weight: 300;

    text-align: left;

    .workout-title {
      font-size: 1.1em;
      color: white !important;
    }

    .workout-container {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .workout-average {
      color: white !important;
      margin-top: 2em;
    }

    p {
      padding: 0;
      margin: 0;
      text-align: left;
    }
  }

  .booking {
    background: white;
    color: #666 !important;
    font-size: 75%;
    padding: 1em;
    margin: 0.3em;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    font-weight: 300;

    text-align: left;

    margin-top: 1em;

    .workout-title {
      font-weight: 400;
      font-size: 1.1em;
      color: #444 !important;
    }
    &.add-button {
      max-width: 6em;
      height: initial;

      button {
        font-size: 2.8em;
        padding: 0.1em;
        margin: 0;
        font-weight: 200;
        width: 100%;
        height: 100%;
        ion-icon {
          font-weight: 200;
          height: 100%;
          color: #666 !important;
        }
      }
    }
  }

  .sessions {
    ion-card {
      margin-top: 1em;
    }

    ion-item {
      // background: linear-gradient(to right, #0ca3ad, #03c3d8) !important;
      h2 {
        color: rgba(0, 0, 0, 0.9);
      }
      p {
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
