<ion-content padding>

  <ion-row class="login-img-container">
    <img src="assets/imgs/LOGO@3x.png">
  </ion-row>


  <form [formGroup]="signinForm" (ngSubmit)="onSignIn()" *ngIf="loginstate == 'signin'">
    <ion-row align-items-center>
      <button ion-button clear id="activeBtn">Sign in</button>
    </ion-row>
    <ion-row justify-content-center class="shadow-input">
      <ion-col col-1 align-self-center>
        <ion-icon name="ios-phone-portrait-outline"></ion-icon>
      </ion-col>
      <ion-col col-9 align-self-left>
        <ion-input text-center formControlName="MobileNumber" type="text" placeholder="Enter your phone number"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center class="gray-note">

      <ion-col col-auto>
        <p>Don't Have an account?</p>
      </ion-col>

      <ion-col col-auto>
        <button ion-button clear (click)="nextloginstate($event, 'signup')">Sign up</button>
      </ion-col>
    </ion-row>
  </form>



  <form [formGroup]="verifyForm" (ngSubmit)="onSignIn()" *ngIf="loginstate == 'verify'">

    <ion-row align-items-center>
      <button ion-button clear id="activeBtn">Sign in</button>
    </ion-row>

    <ion-row justify-content-center class="shadow-input gray">
      <ion-col col-3 align-self-center>
        <ion-icon disabled name="ios-phone-portrait-outline"></ion-icon>
      </ion-col>
      <ion-col col-6 align-self-center>
        <ion-input disabled text-center formControlName="MobileNumber" type="text" placeholder="Enter your phone number"></ion-input>
      </ion-col>
      <ion-col col-3 align-self-center>
        <button ion-button clear (click)="nextloginstate($event, 'signin')">change</button>
      </ion-col>
    </ion-row>

    <ion-row class="gray-note" padding>
      <p>We sent you an activation code</p>
    </ion-row>

    <ion-row justify-content-center class="shadow-input">
      <ion-col col-3 align-self-center>
        <ion-icon name="ios-text-outline"></ion-icon>
      </ion-col>
      <ion-col col-6 align-self-center>
        <ion-input text-center formControlName="VerifyNumber" type="number" placeholder="_ _ _ _"></ion-input>
      </ion-col>
      <ion-col col-3 align-self-center>
      </ion-col>

    </ion-row>

    <ion-row justify-content-center class="gray-note">

      <ion-col col-auto>
        <p>Don't Have an account?</p>
      </ion-col>

      <ion-col col-auto>
        <button ion-button clear (click)="nextloginstate($event, 'signup')">Sign up</button>
      </ion-col>
    </ion-row>
  </form>

  <!--
  {
    "AuthorizationKey":"as@dL8]Rn3$2S!anR",
    "FullName":"Turki Alomari",
    "MobileNumber":"966541114424",
    "CityID": "1",
    "RegionID":null,
    "Email":null,
    "NationalityID":null,
    "Language":null,
    "BirthDate":null
  }
-->

  <form [formGroup]="signupForm" (ngSubmit)="onSignUp()" *ngIf="loginstate == 'signup'">

    <ion-row align-items-center>
      <button ion-button clear id="activeBtn" type="submit">Sign up</button>
    </ion-row>

    <!-- <ion-row  class="shadow-input">
      <ion-input text-center formControlName="FullName" type="text" placeholder="Full Name"></ion-input>
    </ion-row> -->

    <ion-row justify-content-center class="shadow-input">
      <ion-col col-1 align-self-center>
        <ion-icon name="ios-phone-portrait-outline"></ion-icon>
      </ion-col>
      <ion-col col-9 align-self-left>
        <ion-input text-center formControlName="MobileNumber" type="text" placeholder="Enter your phone number"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center class="shadow-input">
      <ion-col col-1 align-self-center>
        <ion-icon name="ios-map-outline"></ion-icon>
      </ion-col>
      <ion-col col-9 align-self-left>
        <!-- <ion-input text-center formControlName="CityID" type="text" placeholder="Choose your city"></ion-input> -->
        <ion-select text-center formControlName="CityID"  style="width: 100%; margin: 0; max-width: 100%; color: #999!important;">
          <ion-option style="width: 100%; margin: 0; ">Choose your city</ion-option>
          <ion-option *ngFor="let city of cities$ | async" [value]="city.ID" selectedText="city.NameEN"></ion-option>
          <!-- <ion-option *ngFor="let city of cities$ | async" [value]="city.ID"></ion-option> -->
        </ion-select>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-input formControlName="RegionID" type="text" placeholder="Region ID"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input formControlName="Email" type="email" placeholder="Email"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input formControlName="NationalityID" type="text" placeholder="Nationality ID"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input formControlName="Language" type="text" placeholder="Language"></ion-input>
    </ion-row>
    <ion-row>
      <ion-input formControlName="BirthDate" type="text" placeholder="Birth Date"></ion-input>
    </ion-row> -->



    <ion-row justify-content-center class="gray-note">

      <ion-col col-auto>
        <p>Alredy Have an account?</p>
      </ion-col>

      <ion-col col-auto>
        <button ion-button clear (click)="nextloginstate($event, 'signin')">Sign in</button>
      </ion-col>
    </ion-row>


  </form>

</ion-content>
