page-home {
  #notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible !important;
    font-size: 1.5em;
    background: transparent;
    border-radius: 100%;
    padding: 0;
    color: white;
  }

  #notifications-badge {
    background-color: orange;
    font-size: 0.3em;
    padding: 2px;
    position: absolute;
    bottom: 3px;
    right: 9px;
    border-radius: 100%;
  }

  .user-container {
    .user-name {
      font-size: 1.5em;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .user-active {
      font-size: 0.9em;
      padding: 0;
      margin: 0;
      text-align: center;
      color: rgba(255,255,255,.7)
    }
  }

  .today-container {
    .floors,
    .steps,
    .today {
      font-size: 0.9em;
      padding: 0;
      margin: 0;
      text-align: center;
    }
    .floors,
    .steps {
      font-size: 0.8em;
      color: rgba(255,255,255,.7);


      ion-row {
        font-size: 2em;

        ion-icon {
            margin: 0 .2em;
        }
        color: white;

      p {
        padding: .5em;
      }

      }
    }
  }

  .workout {
    background: #03a5c4;
    color: white;
    font-size: 75%;
    padding: 0.8em;
    margin: 0.3em;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
    color: rgba(255,255,255,.7);
    font-weight: 300;

    text-align: left;

    .workout-title {
      font-size: 1.1em;
      color: white;
    }

    .workout-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

    }
    .workout-average {
      color: white;
      margin-top: 2em;
    }

    p {
      padding: 0;
      margin: 0;
      text-align: left;


    }
  }

  .booking {
    background: white;
    color: #666;
    font-size: 75%;
    padding: 1em;
    margin: 0.3em;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
    font-weight: 300;

    text-align: left;

    .workout-title {
      font-weight: 400;
      font-size: 1.1em;
      color: #444;
    }
    &.add-button {
      max-width: 6em;

      button {
        font-size: 2.8em;
        padding: .1em;
        margin: 0;
        font-weight: 200;
        width: 100%;
        height: 100%;
        ion-icon {
          font-weight: 200;
          height: 100%;
          color: #666
        }
      }



    }
  }

  .section-title {
    margin: 2em 0 1em 0;
  }

  .lava-header {
    height: 40vh;
    background: #03a5c4;
    color: rgba(255,255,255,.9);
  }
  .lava-content {
    padding: .5em;
  }
}
