page-workout {

  .fixed-content {
    z-index: -2!important;
  }
  .scroll-content {
    margin-top: 30vh!important;
    z-index: 999;
  }

  .toolbar.toolbar-md,
  .toolbar.toolbar-ios {
    color: white !important;

    background: transparent;
    .toolbar-title.toolbar-title-md,
    .toolbar-title.toolbar-title-ios {
      color: white !important;
    }

    ion-icon.back-button-icon.icon {
      color: white;
    }

    .toolbar-background.toolbar-background-md,
    .toolbar-background.toolbar-background-ios {
      background: transparent;
      color: white !important;

      .back-button.bar-button {
        color: white !important;

        &.bar-button-md.back-button-md.bar-button-default.bar-button-default-md.show-back-button,
        &.bar-button-ios.back-button-ios.bar-button-default.bar-button-default-ios.show-back-button {
          color: white !important;
        }
      }
    }
  }

  .exercices {
    // margin-top: -5em;
    z-index: 99999999999!important;
    img {
      width: 4em;
      height: auto
    }

    .item-wrapper {
      background: transparent;
      margin: 1em auto;
    }

    .item.item-block {
      border-radius: 1em;
      // box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
      border: .5px solid black;


    }
  }

  #notification-button {
    position: relative;
    width: 42px;
    top: 0px;
    right: 1px;
    overflow: visible !important;
    font-size: 1.5em;
    background: transparent;
    border-radius: 100%;
    padding: 0;
    margin: 0;
    color: white;
  }

  #notifications-badge {
    background-color: transparent;
    font-size: 0.8em;
    padding: 0px;
    position: absolute;
    top: calc(50% - 0.4em);
    right: 0px;
    font-weight: 200;
    color:  white;
    fill: white

  }

  #notifications-badge.badge.badge-ios, .badge.badge-md {
    color:  #f8cb4f;

  }


  .header.header-md,
  .header.header-ios {
    background: linear-gradient(#0c99d3, #03a5c4);
    background: #03a5c4;
    color: white;

    height: 40vh;
    background: #03a5c4;
    color: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 45% 45%;
    width: 150vw;
    padding: 0 30vw;
    margin-left: -25vw;
    box-shadow: 0 !important;

    &:after {
      background-image: none !important;
    }
  }

  font-size: 75%;
  padding: 0.8em;
  margin: 0.3em;
  border-radius: 5px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.35);
  font-weight: 300;

  text-align: left;

  .workout-title {
    font-size: 2.1em;
    color: white;
  }

  .workout-container {

    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .workout-average {
    color: white;
    margin-top: 2em;
  }

  p {
    padding: 0;
    margin: 0;
    text-align: left;
  }

  .workout-exercice {
    font-size: 1.6em;
  }


  .finish-workout {

    position: fixed;
    bottom: 40px;
    left: 50%;
    width: 50%;
    padding: 2em;
    margin: 0 auto;
    margin-left:  calc(-50% / 2);
    border-radius: 1.5em 1.5em 0 0;
    background: linear-gradient(#0c99d3, #03a5c4);
    color: white;

    z-index: 999999!important ;

  }
}
